@using Voluncheer.Models;
@using Voluncheer.Backend;
@model EventModel

@{
    ViewBag.Title = "Create";
    var outfits = OutfitBackend.Instance.Index();
}
<h2>Create a New Event</h2>
@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-6">
                <!-- basic details section -->
                <h3>Basic Details</h3>
                <div id="basic-details" class="container border">
                    <div class="form-group">
                        <label for="location">@Html.DisplayNameFor(m => m.Location):</label>
                        @Html.EditorFor(m => m.Location)
                    </div>
                    <div class="form-group">
                        <label for="location-map">Link to Map (optional):</label>
                        <input name="location-map" type="text" placeholder="https://www.google.com/maps/..." class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="date-and-time">Date and Time:</label>
                       <input name="DateInfo" id="DateInfo" type="datetime-local" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="event-type">Event Type:</label>
                        <select name="Type" id="Type" class="form-control">
                            @{ 
                                foreach (var type in Enum.GetValues(typeof(EventType)))
                                {
                                    <option value="@type">@type</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <!-- uniform picker -->
                <h3>Uniform Components</h3>
                <div id="uniform-components" class="container border">
                    <script type="text/javascript">
                        function onSquadNameEdited(squadInput) {
                            let squadGrandparent = squadInput.parentElement.parentElement;
                            let outfitInput = squadGrandparent.getElementsByClassName('outfit')[0];
                            outfitInput.name = `Outfits[${squadInput.value}]`;
                        }
                    </script>
                    <div id="uniforms-group">
                        <div class="row">
                            <div class="form-group col">
                                <label>Squad:</label>
                                <input class="squad form-control" type="text" onblur="onSquadNameEdited(this);"/>
                            </div>
                            <div class="form-group col">
                                <label>Outfit:</label>
                                <select class="outfit form-control">
                                    @{ 
                                        foreach(var outfit in outfits.OutfitList)
                                        {
                                            <option value="@outfit.OutfitName">@outfit.OutfitName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Food</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <select class="form-control">
                            <option>Snack</option>
                            <option>Drinks</option>
                            <option>Meal</option>
                        </select>
                        <label for="qty">Qty:</label>
                        <input name="qty" type="number" class="form-control" />
                        <label for="assignee">Assignee:</label>
                        <select class="form-control">
                            <option>Amanda N.</option>
                            <option>Tad K.</option>
                            <option>Andy N.</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <select class="form-control">
                            <option>Snack</option>
                            <option>Drinks</option>
                            <option>Meal</option>
                        </select>
                        <label for="qty">Qty:</label>
                        <input name="qty" type="number" class="form-control" />
                        <label for="assignee">Assignee:</label>
                        <select class="form-control">
                            <option>Amanda N.</option>
                            <option selected>Tad K.</option>
                            <option>Andy N.</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <select class="form-control">
                            <option>Snack</option>
                            <option>Drinks</option>
                            <option>Meal</option>
                        </select>
                        <label for="qty">Qty:</label>
                        <input name="qty" type="number" class="form-control" />
                        <label for="assignee">Assignee:</label>
                        <select class="form-control">
                            <option>Amanda N.</option>
                            <option>Tad K.</option>
                            <option selected>Andy N.</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <button class="btn btn-success">
                            + Add
                        </button>
                    </li>
                </ul>
                <h3>Drivers</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <label for="qty">Qty:</label>
                        <input name="qty" type="number" class="form-control" />
                        <label for="assignee">Assignee:</label>
                        <select class="form-control">
                            <option>George W.</option>
                            <option>Manu G.</option>
                            <option>Sandy H.</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <label for="qty">Qty:</label>
                        <input name="qty" type="number" class="form-control" />
                        <label for="assignee">Assignee:</label>
                        <select class="form-control">
                            <option>George W.</option>
                            <option selected>Manu G.</option>
                            <option>Sandy H.</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <label for="qty">Qty:</label>
                        <input name="qty" type="number" class="form-control" />
                        <label for="assignee">Assignee:</label>
                        <select class="form-control">
                            <option>George W.</option>
                            <option>Manu G.</option>
                            <option selected>Sandy H.</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <button class="btn btn-success">
                            + Add
                        </button>
                    </li>
                </ul>
                <h3>Cleanup</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <label for="qty">Qty:</label>
                        <input name="qty" type="number" class="form-control" />
                        <label for="assignee">Assignee:</label>
                        <select class="form-control">
                            <option>George W.</option>
                            <option>Manu G.</option>
                            <option>Sandy H.</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <label for="qty">Qty:</label>
                        <input name="qty" type="number" class="form-control" />
                        <label for="assignee">Assignee:</label>
                        <select class="form-control">
                            <option>George W.</option>
                            <option selected>Manu G.</option>
                            <option>Sandy H.</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <label for="qty">Qty:</label>
                        <input name="qty" type="number" class="form-control" />
                        <label for="assignee">Assignee:</label>
                        <select class="form-control">
                            <option>George W.</option>
                            <option>Manu G.</option>
                            <option selected>Sandy H.</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <button class="btn btn-success">
                            + Add
                        </button>
                    </li>
                </ul>
                <h3>Hosting</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <label for="qty">Qty:</label>
                        <input name="qty" type="number" class="form-control" />
                        <label for="assignee">Assignee:</label>
                        <select class="form-control">
                            <option>George W.</option>
                            <option>Manu G.</option>
                            <option>Sandy H.</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <label for="qty">Qty:</label>
                        <input name="qty" type="number" class="form-control" />
                        <label for="assignee">Assignee:</label>
                        <select class="form-control">
                            <option>George W.</option>
                            <option selected>Manu G.</option>
                            <option>Sandy H.</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <label for="qty">Qty:</label>
                        <input name="qty" type="number" class="form-control" />
                        <label for="assignee">Assignee:</label>
                        <select class="form-control">
                            <option>George W.</option>
                            <option>Manu G.</option>
                            <option selected>Sandy H.</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <button class="btn btn-success">
                            + Add
                        </button>
                    </li>
                </ul>
            </div>
        </div>

}