@using Voluncheer.Models;
@model EventModel

@{
    ViewBag.Title = "Create";
}
<h2>Create a New Event</h2>
@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-6">
                <!-- basic details section -->
                <h3>Basic Details</h3>
                <div id="basic-details" class="container border">
                    <div class="form-group">
                        <label for="location">@Html.DisplayNameFor(m => m.Location):</label>
                        @Html.EditorFor(m => m.Location)
                    </div>
                    <div class="form-group">
                        <label for="location-map">Link to Map (optional):</label>
                        <input name="location-map" type="text" placeholder="https://www.google.com/maps/..." class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="date-and-time">Date and Time:</label>
                       <input name="DateInfo" id="DateInfo" type="datetime-local" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="event-type">Event Type:</label>
                        @Html.EditorFor(m => m.Type)
                    </div>
                </div>
                <!-- uniform picker -->
                <h3>Uniform Components</h3>
                <div id="uniform-components" class="container border">
                    <div class="form-group">
                        <label for="uniform">Uniform name:</label>
                        @Html.EditorFor(m => m.Outfits)
                    </div>
                    <!-- Original idea (easy multi-select picker); doesn't meet AC, so doing a text input and a file upload input
                    <label for="uniform-items">Choose Uniform Items Here (select more than one)</label>
                    <select name="uniform-items" class="form-control" multiple>
                        <option>Casual Practice Gear</option>
                        <option>Invincible Top</option>
                        <option>Fearless Top</option>
                        <option>Force Top</option>
                        <option>Swift Top</option>
                        <option>Echo Top</option>
                        <option>Odyssey Shrug</option>
                        <option>Odyssey Gauntlet Sleeves</option>
                        <option>Odyssey Spats</option>
                        <option>Invincible Skirt</option>
                        <option>Fearless Skirt</option>
                        <option>Force Skirt</option>
                        <option>Swift Skirt</option>
                        <option>Echo Skirt</option>
                        <option>Grand Skirt</option>
                        <option>Crossover Skirt</option>
                        <option>Glory Skirt</option>
                        <option>Arena Skirt</option>
                        <option>Gladiator Skirt</option>
                        <option>Nike Black Shoes</option>
                        <option>Reebok Blue Shoes</option>
                        <option>Asics Red Shoes</option>
                    </select>
                    -->
                </div>
            </div>
            <div class="col-md-6">
                <h3>Food</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <select class="form-control">
                            <option>Snack</option>
                            <option>Drinks</option>
                            <option>Meal</option>
                        </select>
                        <label for="qty">Qty:</label>
                        <input name="qty" type="number" class="form-control" />
                        <label for="assignee">Assignee:</label>
                        <select class="form-control">
                            <option>Amanda N.</option>
                            <option>Tad K.</option>
                            <option>Andy N.</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <select class="form-control">
                            <option>Snack</option>
                            <option>Drinks</option>
                            <option>Meal</option>
                        </select>
                        <label for="qty">Qty:</label>
                        <input name="qty" type="number" class="form-control" />
                        <label for="assignee">Assignee:</label>
                        <select class="form-control">
                            <option>Amanda N.</option>
                            <option selected>Tad K.</option>
                            <option>Andy N.</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <select class="form-control">
                            <option>Snack</option>
                            <option>Drinks</option>
                            <option>Meal</option>
                        </select>
                        <label for="qty">Qty:</label>
                        <input name="qty" type="number" class="form-control" />
                        <label for="assignee">Assignee:</label>
                        <select class="form-control">
                            <option>Amanda N.</option>
                            <option>Tad K.</option>
                            <option selected>Andy N.</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <button class="btn btn-success">
                            + Add
                        </button>
                    </li>
                </ul>
                <h3>Drivers</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <label for="qty">Qty:</label>
                        <input name="qty" type="number" class="form-control" />
                        <label for="assignee">Assignee:</label>
                        <select class="form-control">
                            <option>George W.</option>
                            <option>Manu G.</option>
                            <option>Sandy H.</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <label for="qty">Qty:</label>
                        <input name="qty" type="number" class="form-control" />
                        <label for="assignee">Assignee:</label>
                        <select class="form-control">
                            <option>George W.</option>
                            <option selected>Manu G.</option>
                            <option>Sandy H.</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <label for="qty">Qty:</label>
                        <input name="qty" type="number" class="form-control" />
                        <label for="assignee">Assignee:</label>
                        <select class="form-control">
                            <option>George W.</option>
                            <option>Manu G.</option>
                            <option selected>Sandy H.</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <button class="btn btn-success">
                            + Add
                        </button>
                    </li>
                </ul>
                <h3>Cleanup</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <label for="qty">Qty:</label>
                        <input name="qty" type="number" class="form-control" />
                        <label for="assignee">Assignee:</label>
                        <select class="form-control">
                            <option>George W.</option>
                            <option>Manu G.</option>
                            <option>Sandy H.</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <label for="qty">Qty:</label>
                        <input name="qty" type="number" class="form-control" />
                        <label for="assignee">Assignee:</label>
                        <select class="form-control">
                            <option>George W.</option>
                            <option selected>Manu G.</option>
                            <option>Sandy H.</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <label for="qty">Qty:</label>
                        <input name="qty" type="number" class="form-control" />
                        <label for="assignee">Assignee:</label>
                        <select class="form-control">
                            <option>George W.</option>
                            <option>Manu G.</option>
                            <option selected>Sandy H.</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <button class="btn btn-success">
                            + Add
                        </button>
                    </li>
                </ul>
                <h3>Hosting</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <label for="qty">Qty:</label>
                        <input name="qty" type="number" class="form-control" />
                        <label for="assignee">Assignee:</label>
                        <select class="form-control">
                            <option>George W.</option>
                            <option>Manu G.</option>
                            <option>Sandy H.</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <label for="qty">Qty:</label>
                        <input name="qty" type="number" class="form-control" />
                        <label for="assignee">Assignee:</label>
                        <select class="form-control">
                            <option>George W.</option>
                            <option selected>Manu G.</option>
                            <option>Sandy H.</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <label for="qty">Qty:</label>
                        <input name="qty" type="number" class="form-control" />
                        <label for="assignee">Assignee:</label>
                        <select class="form-control">
                            <option>George W.</option>
                            <option>Manu G.</option>
                            <option selected>Sandy H.</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <button class="btn btn-success">
                            + Add
                        </button>
                    </li>
                </ul>
            </div>
        </div>

}