@using Voluncheer.Models;
@model EventModel
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Type</h2>
<h5>@@ @Model.Location <a class="btn btn-success btn-sm" href="https://goo.gl/maps/WTekfhdx4XB8Hwx69" role="button">Map</a></h5>
<h5><small>Date: @Model.DateInfo.ToShortDateString()</small></h5>
<h5><small>Time: @Model.DateInfo.ToShortTimeString()</small></h5/>
<h5><small>Bus: @Model.BusInfo</small></h5>

<h5>Squad Outfits</h5>
@{ 
    foreach (var outfitMapping in Model.Outfits)
    {
        var squad = outfitMapping.Key;
        var outfitName = outfitMapping.Value;
        <label style="text-indent:20px">@squad: @outfitName <text style="font-size:smaller"> @Html.ActionLink("See Outfit", "Read", "Outfits", new { id = outfitName }, new { })</text></label><br>
    }
}
<p></p>

<div class="row">
    <div class=" text-md-left mt-4 col-md-4">
        <h5>Food Assignment</h5>

        <table class="table table-striped  table table-bordered table table-sm">
            <col width="20%" />
            <col width="30%" />
            <col width="40%" />

            <thead>
                <tr>
                    <th>Food</th>
                    <th>Name</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                @{ 
                    foreach (var assn in Model.FoodAssignments)
                    {

                <tr>
                    <td>@assn.Category</td>
                    <td>@assn.VolunteerName</td>
                    <td>
                        <p>Quantity: 10  </p>
                        <a class="btn btn-link" role="button">@Html.ActionLink("Food List", "Index", "ApprovedFoods")</a>
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class=" row">
    <div class=" text-md-left mt-4 col-md-4">
        <h5>Clean Up Crew</h5>
        <table class="table table-striped  table table-bordered table-sm">

            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>

                @{
                    foreach (var assn in Model.CleanupAssignments)
                    {

                        <tr>
                            <td>@assn.VolunteerName</td>
                          
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>


<div class="row">
    <div class=" text-md-left mt-4 col-md-4">
        <h5>Transportation</h5>
        <table class="table table-striped table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Seats</th>
                </tr>
            </thead>
            <tbody>

                @{
                    foreach (var assn in Model.TransportationAssignments)
                    {

                <tr>
                    <td>@assn.VolunteerName</td>
                    <td>@assn.Seats</td>

                </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class=" text-md-left mt-4 col-md-5">
        <h5>Other Assignments</h5>
        <table class="table table-striped table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Duty</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var assn in Model.OtherAssignments)
                    {

                        <tr>
                            <td>@assn.Name</td>
                            <td>@assn.Duty</td>

                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>



