
@{
    ViewBag.Title = "Details";
}

<h2>Competition: Sonora High School</h2>
<h5>Basic Details</h5>
<h5><small>Type: Competition</small></h5>
<h5><small>Date: 09/13/2019</small></h5>
<h5><small>Time: 6 PM</small></h5/>
<h5>
    <small>Location: Sonora High School </small>
    <a class="btn btn-success btn-sm" href="https://goo.gl/maps/WTekfhdx4XB8Hwx69" role="button">Map</a>
</h5>
<h5><small>Bus: Not provided</small></h5>

<h5>Squad Outfits</h5>
<label style="text-indent:20px">Squad A :  Battle <text style="font-size:smaller">@Html.ActionLink("See Outfit", "Index", "Outfits")</text></label><br>
<label style="text-indent:20px">Squad B :  Warrior <text style="font-size:smaller">@Html.ActionLink("See Outfit", "Index", "Outfits")</text></label>
<br>
<p></p>

<div class="row">
    <div class=" text-md-left mt-4 col-md-4">
        <h5>Food Assignment</h5>

        <table class="table table-striped  table table-bordered table table-sm">
            <col width="20%" />
            <col width="30%" />
            <col width="40%" />

            <thead>
                <tr>
                    <th>Food</th>
                    <th>Name</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Snack</td>
                    <td>Sally Harrison</td>
                    <td>
                        <p>Quantity: 30  </p>
                        <a class="btn btn-link" role="button">@Html.ActionLink("Approved Foods", "Index", "ApprovedFoods")</a>
                    </td>
                </tr>
                <tr>
                    <td>Drinks</td>
                    <td>Tom Ford</td>
                    <td>
                        <p>Quantity: 30  </p>
                        <a class="btn btn-link" role="button">@Html.ActionLink("Approved Foods", "Index", "ApprovedFoods")</a>
                    </td>
                </tr>
                <tr>
                    <td>Lunch</td>
                    <td>Luna Dooley</td>
                    <td>
                        <p>Quantity: 30  </p>
                        <a class="btn btn-link" role="button">@Html.ActionLink("Approved Foods", "Index", "ApprovedFoods")</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class=" row">
    <div class=" text-md-left mt-4 col-md-4">
        <h5>Clean Up Crew</h5>
        <table class="table table-striped  table table-bordered table-sm">

            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jon Snow</td>
                </tr>
                <tr>
                    <td>Hannah Montana</td>
                </tr>
                <tr>
                    <td>Lana Lang</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>


<div class="row">
    <div class=" text-md-left mt-4 col-md-4">
        <h5>Transportation</h5>
        <table class="table table-striped table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Seats</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>James Jonah</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>Harry Willis</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Phillip Carl</td>
                    <td>4</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class=" text-md-left mt-4 col-md-5">
        <h5>Other Assignments</h5>
        <table class="table table-striped table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Duty</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jamie Curtis</td>
                    <td>Pass out team gear to parents</td>
                </tr>
                <tr>
                    <td>Joan Ucoll</td>
                    <td>Gather parents to rally for athletes</td>
                </tr>
                <tr>
                    <td>Shane Cahoun</td>
                    <td>Take attendance of parents</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>



