@using Voluncheer.Models
@model EventViewModel
@ViewBag.Title = "Events"

<h2>Events</h2>
<div class="container">
    <div class="row">
        <div class="col">
            @Html.ActionLink("+ New Event", "Create", "Events", null, new { @class = "btn btn-success" })
        </div>
    </div>
    @{
        foreach (var eventItem in Model.EventList)
        {
            <div class="row">
                <div class="card card-body bg-light">
                    <h3>@eventItem.Type</h3>
                    <p>@eventItem.Location</p>
                    <p>@eventItem.DateInfo.ToLongDateString()</p>
                </div>
            </div>
        }
    }
</div>