@using Voluncheer.Models
@model EventViewModel
@{
    ViewBag.Title = "Events";
}

<h2>Events</h2>
<div class="container">
    <div class="row">
        <div class="col">
            @Html.ActionLink("+ New Event", "Create", "Events", null, new { @class = "btn btn-success" })
        </div>
    </div>
    @{ 
        foreach (var item in Model.EventList)
        {

    <div class="row">
        <div class="card card-body bg-light">
            <h3>@Html.ActionLink(item.Type.ToString(), "Details", "Events", new { id = item.ID }, new object())</h3>
            <p>@item.Location</p>
            <p>@item.DateInfo.ToShortDateString()</p>
            <p>@item.DateInfo.ToShortTimeString()</p>
        </div>
    </div>
        }
    }
</div>

<script type="text/javascript">
    function adminUpdate() {
        alert("Location of practice has changed");
    }

    setTimeout(adminUpdate, 6000);
</script>