
@{
    ViewBag.Title = "Volunteers";
}

<h2>Volunteers</h2>

<table class="table table-striped  table table-bordered table-sm">
    <col width="5%" />
    <col width="25%"/>
    <col width="25%" />
    <col width="10%"/>
    <col width="10%" />
    <col width="10%"/>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Call</th>
            <th>Email</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>@Html.ActionLink("Jon", "Profile", "Volunteer")</td>
            <td>@Html.ActionLink("Snow", "Profile", "Volunteer")</td>
            <td>(206) 555-1234</td>
            <td><img src="~/Content/Img/email.png" class="rounded" width="15%"></td>
            <td><a href="~/Chat/DirectMessage" id="message"><img src="~/Content/Img/message.png" class="rounded" width="15%" alt="message" /></a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>@Html.ActionLink("Hannah", "Profile", "Volunteer")</td>
            <td>@Html.ActionLink("Montana", "Profile", "Volunteer")</td>
            <td>(206) 555-2244</td>
            <td><img src="~/Content/Img/email.png" class="rounded" width="15%"></td>
            <td><a href="~/Chat/DirectMessage" id="message"><img src="~/Content/Img/message.png" class="rounded" width="15%" alt="message" /></a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>@Html.ActionLink("Lana", "Profile", "Volunteer")</td>
            <td>@Html.ActionLink("Lang", "Profile", "Volunteer")</td>
            <td>(206) 555-2444</td>
            <td><img src="~/Content/Img/email.png" class="rounded" width="15%"></td>
            <td><a href="~/Chat/DirectMessage" id="message"><img src="~/Content/Img/message.png" class="rounded" width="15%" alt="message" /></a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>@Html.ActionLink("Sally", "Profile", "Volunteer")</td>
            <td>@Html.ActionLink("Harrison", "Profile", "Volunteer")</td>
            <td>(206) 555-2457</td>
            <td><img src="~/Content/Img/email.png" class="rounded" width="15%"></td>
            <td><a href="~/Chat/DirectMessage" id="message"><img src="~/Content/Img/message.png" class="rounded" width="15%" alt="message" /></a></td>
        </tr>
        <tr>
            <td>5</td>
            <td>@Html.ActionLink("Tom", "Profile", "Volunteer")</td>
            <td>@Html.ActionLink("Ford", "Profile", "Volunteer")</td>
            <td>(206) 555-8151</td>
            <td><img src="~/Content/Img/email.png" class="rounded" width="15%"></td>
            <td><a href="~/Chat/DirectMessage" id="message"><img src="~/Content/Img/message.png" class="rounded" width="15%" alt="message" /></a></td>
        </tr>
        <tr>
            <td>6</td>
            <td>@Html.ActionLink("Luna", "Profile", "Volunteer")</td>
            <td>@Html.ActionLink("Dooley", "Profile", "Volunteer")</td>
            <td>(206) 555-5151</td>
            <td><img src="~/Content/Img/email.png" class="rounded" width="15%"></td>
            <td><a href="~/Chat/DirectMessage" id="message"><img src="~/Content/Img/message.png" class="rounded" width="15%" alt="message" /></a></td>
        </tr>

    </tbody>
</table>

